h1 {
    color: red;
}
h3 {
    color: green;
}

li {
    list-style:none;
    color: darkblue;
}

.html-list{
    list-style-type: number;
}

.center{
    width: 100%;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: 150%;
}

.center-list{
    width: 15%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

.picture {
    transform: rotate(0.3turn);
}

body {
    background-color:orange;
}