h1 {
    color: red;
}

li {
    list-style:none;
}

.html-list{
    list-style-type: number;
}

.center{
    width: 100%;
    margin: auto;
    text-align: center;
}

.center-list{
    width: 15%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}